---
import { getCollection } from "astro:content";
import MainContainer from "../../components/MainContainer.astro";
import BlogPost from "../../components/ThoughtListItem.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allThoughts = await getCollection("thoughts");

  const uniqueTags = [
    ...new Set(allThoughts.map((thought) => thought.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allThoughts.filter((thought) =>
      thought.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { thoughts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { thoughts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <MainContainer>
    <p class="my-8">
      <a
        class="text-sm hover:text-[hsl(var(--muted-foreground))]"
        href="/tags/"
      >
        ← All tags
      </a>
    </p>
    <ul>
      {
        thoughts.map((thoughts) => (
          <BlogPost
            url={`/thoughts/${thoughts.slug}/`}
            title={thoughts.data.title}
            date={thoughts.data.pubDate}
          />
        ))
      }
    </ul>
  </MainContainer>
</BaseLayout>
