---
import { getCollection, type CollectionEntry } from "astro:content";
import Link from "../../components/Link.astro";
import MainContainer from "../../components/MainContainer.astro";
import ThoughtListItem from "../../components/ThoughtListItem.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allThoughts = await getCollection("thoughts");

  const uniqueTags = [
    ...new Set(allThoughts.map((thought) => thought.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allThoughts.filter((thought) =>
      thought.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { thoughts: filteredPosts },
    };
  });
}

export interface Props {
  thoughts: CollectionEntry<"thoughts">[];
}

const { tag } = Astro.params;
const { thoughts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <MainContainer>
    <p class="my-8">
      <Link
        class="text-sm hover:text-[hsl(var(--muted-foreground))]"
        href="/tags/"
      >
        ← All tags
      </Link>
    </p>
    <ul>
      {thoughts.map((thought) => <ThoughtListItem thought={thought} />)}
    </ul>
  </MainContainer>
</BaseLayout>
