---
import { getCollection } from "astro:content";
import MainContainer from "../../components/MainContainer.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allThoughts = await getCollection("thoughts");

const tags = [
  ...new Set(allThoughts.map((thought) => thought.data.tags).flat()),
];

const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <MainContainer>
    <ul class="mt-8">
      {
        tags.map((tag) => (
          <li class="flex gap-2 items-center">
            <a class="text-sm" href={`/tags/${tag}`}>
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </MainContainer>
</BaseLayout>
