---
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import MainContainer from "../components/MainContainer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "404: Page Not Found";

const imageSrc =
  "https://source.unsplash.com/random/?lost";
---

<BaseLayout pageTitle={pageTitle}>
  <MainContainer>
		<div class="mt-8 text-center">

  <div class="w-full mb-4 h-28 overflow-hidden">
    <Image
      class="w-full object-cover h-full"
      src={imageSrc as any}
      width="1200"
      height="300"
      alt="Thought header"
    />
  </div>
			<p >
				This page does not exist.
			</p>
			<p>
				<Link href="/">Click here to go home</Link>
			</p>
		</div>
  </MainContainer>
</BaseLayout>
