---
import { Image } from "astro:assets";
import BK from "../images/BK.webp";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="image h-15 w-15">
    <Image
      class="rounded-lg"
      src={BK}
      alt="Bhekani Khumalo"
      width="200"
      height="200"
    />
  </div>
  <h2 class="mt-4 mb-2 text-2xl">TL;DR</h2>
  <p>
    I'm Bhekani Khumalo. A software engineer living in London. I work for <a
      href="https://contentful.com/"
      target="_blank"
    >
      Contentful
    </a> as a Senior Software Engineer. I am also building
    <a href="https://dealbase.africa/" target="_blank">Dealbase.Africa</a>, a
    startup that's collects and shares data on deal activity in the African
    early stage tech ecosystem.
  </p>

  <p>
    I am also a frequent writer on <a
      href="https://justreflections.bhekani.com/">Just Reflections</a
    >.
  </p>

  <h2 class="mt-4 mb-2 text-2xl">...and more</h2>
  <p>
    I grew up in Zimbabwe, but have lived and worked in South Africa and the UK.
    I have been a software engineer for 6 years, most recently working for <a
      href="https://anaplan.com/"
      target="_blank">anaplan</a
    >, <a href="" target="_blank">Sigma Digital</a> and <a
      href="https://esri-southafrica.com/"
      target="_blank">ESRI South Africa</a
    >.
  </p>

  <p>
    My professinoal background is in Civil Engineering. I have a Bachelor's
    degree in Civil and Water Engineering and was a Civil Engineer for the first
    6 years of my career. Then I switched to Geographic Information Science and
    then Software Engineering.
  </p>

  <p>PS: Most people call me BK (my initials)</p>

  <p>
    You can find me on <a href="https://twitter.com/bhekanik" target="_blank"
      >X (Twitter)</a
    > and <a href="https://github.com/bhekanik" target="_blank">GitHub</a>
  </p>

  <h2 class="mt-4 mb-2 text-2xl">What I'm doing now</h2>
  <ul class="list-disc list-inside">
    <li>
      I am a Senior Software Engineer at <a
        href="https://contentful.com/"
        target="_blank">Contentful</a
      >
    </li>
    <li>
      I am also working on <a href="https://dealbase.africa/" target="_blank"
        >Dealbase.Africa</a
      >
    </li>
    <li>
      I am also writing about things that catch my interesting at <a
        href="https://justreflections.bhekani.com/"
        target="_blank">Just Reflections</a
      >
    </li>
  </ul>
</BaseLayout>
