---
import { Image } from "astro:assets"
import Link from "../components/Link.astro"
import MainContainer from "../components/MainContainer.astro"
import BK from "../images/BK.webp"
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
  <MainContainer>
    <div class="image h-15 w-15 mt-8">
      <Image
        class="rounded-lg"
        src={BK}
        alt="Bhekani Khumalo"
        width="200"
        height="200"
      />
    </div>
    <h2 class="mt-4 mb-2 text-2xl">TL;DR</h2>
    <p>
      I'm Bhekani Khumalo (IPA: <code>/be̞ɣäɳi kxumälo/</code>). A software
      engineer living in London. I am currently a Senior Software Engineer at <Link
        href="https://contentful.com/"
        target="_blank"
      >
        Contentful
      </Link>. I am also building
      <Link href="https://dealbase.africa/" target="_blank">
        Dealbase.Africa
      </Link>, where we collect and share data on deal activity in the African
      early stage tech ecosystem. Before now, I worked at
      <Link href="https://anaplan.com/" target="_blank">Anaplan</Link>, <Link
        href=""
        target="_blank"
      >
        Sigma Digital
      </Link>, <Link href="https://esri-southafrica.com/" target="_blank">
        ESRI South Africa
      </Link> and <Link href="https://www.ramm.co.za/" target="_blank">
        RAMM Technologies
      </Link>. But I haven't always been a software engineer. My professinoal
      background is in Civil Engineering. I have a Bachelor's degree in Civil
      and Water Engineering and was a Civil Engineer for the first 6 years of my
      career. Then I switched to Geographic Information Science and then
      Software Engineering.
    </p>

    <p>
      I write the <Link href="https://justreflections.bhekani.com/">
        Just Reflections newsletter
      </Link> and maintain a <Link href="https://digitalgarden.bhekani.com">
        digital garden
      </Link> where I document my learning journey. I love teaching and helping people
      become better humans. In my spare time, I love reading, watching Sci-fi and
      Fantasy films, listening to podcasts and gaming. I love speaking at events,
      and I have <Link
        href="https://github.com/bhekanik/talks/blob/main/speaker-rider.md"
      >
        a speaker rider
      </Link>, if you'd like to talk to me about one you're running.
    </p>

    <p>
      PS: Most people call me <strong>BK</strong> (my initials)
    </p>

    <p>
      You can find me on <Link
        href="https://twitter.com/bhekanik"
        target="_blank"
      >
        X (Twitter)
      </Link>, <Link href="https://github.com/bhekanik" target="_blank">
        GitHub
      </Link> and <Link href="https://linkedin.com/in/bhekanik" target="_blank">
        LinkedIn
      </Link>
    </p>

    <h2 class="mt-4 mb-2 text-2xl">What I'm doing now</h2>
    <ul class="list-disc list-inside">
      <li>
        I am a Senior Software Engineer at <Link
          href="https://contentful.com/"
          target="_blank"
        >
          Contentful
        </Link>
      </li>
      <li>
        I am also working on <Link
          href="https://dealbase.africa/"
          target="_blank"
        >
          Dealbase.Africa
        </Link>
      </li>
      <li>
        I am also writing about things that catch my interesting at <Link
          href="https://justreflections.bhekani.com/"
          target="_blank"
        >
          Just Reflections
        </Link>
      </li>
    </ul>
  </MainContainer>
</BaseLayout>
