---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Bhekani.com";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Software Engineer | Writer</h2>
  <p>Writing about random things that catch my interest</p>
</BaseLayout>
