---
import AboutCard from "../components/AboutCard.astro";
import RecentThoughts from "../components/RecentThoughts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Bhekani Khumalo";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <AboutCard />

    <RecentThoughts />
  </main>
</BaseLayout>
