---
import AboutCard from "../components/AboutCard.astro";
import AllTags from "../components/AllTags.astro";
import Link from "../components/Link.astro";
import MainContainer from "../components/MainContainer.astro";
import RecentThoughts from "../components/RecentThoughts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Bhekani Khumalo";
---

<BaseLayout pageTitle={pageTitle}>
  <MainContainer>
    <AboutCard />

    <RecentThoughts />

    <p class="w-full mb-8 font-bold">
      You can also <Link href="/rss.xml">subscribe with RSS</Link>
    </p>

    <AllTags />
    <iframe
      class="w-full bg-[hsl(var(--muted))] mt-8"
      src="https://justreflections.bhekani.com/embed"
      width="480"
      height="320"
      ></iframe>
  </MainContainer>
</BaseLayout>
