---
import { Image } from "astro:assets"
import BK from "../images/BK.webp"
import Link from "./Link.astro"
---

<div class="card grid gap-4 mt-8">
  <div class="content">
    <h1 class="text-3xl md:text-4xl mb-0 leading-none">
      <span class="text-lg font-code text-[hsl(var(--muted-foreground))]">
        (<code>/be̞ɣäɳi kxumälo/</code>)
      </span>
    </h1>
    <h1 class="text-3xl md:text-4xl mb-0 leading-none font-logo">
      <span class="text-lg font-code text-[hsl(var(--muted-foreground))]"
        >(@bhekanik)</span
      >
    </h1>
    <p class="font-light mb-4 text-xl"><i>Software Engineer in London</i></p>
    <p class="mb-4">I'm BK. I enjoy learning things and writing about it.</p>
    <p class="mb-4">
      If you just want the non-tech stuff that interest me, you can find those
      on <Link href="https://justreflections.bhekani.com/" target="_blank">
        my newsletter
      </Link>, and if you want to see the work I'm doing to shine light on the
      African early stage tech startup ecosystem check out <Link
        href="https://dealbase.africa/"
        target="_blank"
      >
        dealbase.africa
      </Link>.
    </p>

    <p>
      <a
        class="text-gray-600 dark:text-gray-400 hover:dark:text-gray-600 italic"
        href="/about"
      >
        More on About page →
      </a>
    </p>
  </div>
  <div class="image h-15 w-15">
    <Image
      class="rounded-lg"
      src={BK}
      alt="Bhekani Khumalo"
      width="250"
      height="250"
    />
  </div>

  <style>
    .card {
      width: 100%;
      grid-template:
        "image ."
        "content content";
    }

    .content {
      grid-area: content;
    }

    .image {
      grid-area: image;
    }

    @media screen and (min-width: 768px) {
      .card {
        grid-template:
          "content image"
          "content image";
      }
    }
  </style>
</div>
