---
import { Image } from "astro:assets";
import BK from "../images/BK.jpeg";
---

<div class="card pb-12">
  <div class="content">
    <h1 class="text-3xl md:text-4xl mb-0 leading-none font-logo">
      Bhekani Khumalo <span
        class="text-lg font-code text-[hsl(var(--muted-foreground))]"
        >(@bhekanik)</span
      >
    </h1>
    <p class="font-light mb-4"><i>Software Engineer, Writer</i></p>
    <p class="mb-4">
      I write about non-tech subjects that interest me on <a
        href="https://justreflections.bhekani.com/"
        target="_blank">Just Reflections</a
      >, and I am shining light on the African early stage tech startup
      ecosystem at <a href="https://dealbase.africa/" target="_blank"
        >Dealbase.Africa</a
      >.
    </p>
    <p>
      <a class="text-gray-600 dark:text-gray-400 italic" href="/about"
        >→ More on About page</a
      >
    </p>
  </div>
  <Image
    class="image rounded-lg"
    src={BK}
    alt="Bhekani Khumalo"
    width="200"
    height="200"
  />
</div>

<style>
  .card {
    width: 100%;
    display: grid;
    grid-template:
      "image ."
      "content content";
    gap: 2rem;
  }

  .content {
    grid-area: content;
  }

  .image {
    grid-area: image;
  }

  @media screen and (min-width: 768px) {
    .card {
      grid-template:
        "content image"
        "content image";
    }
  }
</style>
