---
import { navItems } from "../utils/config";
import NavLink from "./NavLink.astro";
---

<nav class="flex flex-col">
  {navItems.map((item) => <NavLink href={item.href} title={item.title} />)}
</nav>
