---
import FooterNavigation from "./FooterNavigation.astro";
import Social from "./Social.astro";
---

<footer
  class="flex w-full items-start mt-8 justify-between p-4 bg-[hsl(var(--muted))]"
>
  <FooterNavigation />

  <nav class="flex flex-col">
    <Social href="https://twitter.com/bhekanik" title="Twitter" />
    <Social href="https://github.com/bhekanik" title="Github" />
    <Social href="https://youtube.com/bhekanik" title="YouTube" />
  </nav>
  <div></div>
</footer>

<style>
  footer {
    grid-area: footer;
  }
</style>
