---
import Social from "./Social.astro";

const platform = "github";
const username = "withastro";
---

<footer>
  <p>Learn more about my projects on</p>
  <Social platform="twitter" username="bhekanik" />
  <Social platform="github" username="bhekanik" />
  <Social platform="youtube" username="bhekanik" />
</footer>

<style>
  footer {
    grid-area: footer;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
