---
import NavLink from "./NavLink.astro";
---

<nav class="flex flex-col">
  <NavLink href="/" title="Home" />
  <NavLink href="/about/" title="About" />
  <NavLink href="/thoughts/" title="Thoughts" />
  <NavLink href="/projects/" title="Projects" />
  <NavLink href="/tags/" title="Tags" />
</nav>
