---
import Navigation from "./Navigation.astro";
---

<header
  class="flex w-full items-center justify-between mb-8 bg-[hsl(var(--muted))]"
>
  <a
    class="p-2 text-[hsl(var(--background))] bg-[hsl(var(--foreground))]"
    href="/"
  >
    <h1 class="text-xl font-logo">BK</h1>
  </a>
  <Navigation />
</header>

<style>
  header {
    grid-area: header;
  }
</style>
