---
import Navigation from "./Navigation.astro";
---

<header
  class="flex w-full items-center justify-between p-4 mb-8 border-b border-[hsl(var(--muted))]"
>
  <h1 class="text-xl">Bhekani.com</h1>
  <Navigation />
</header>

<style>
  header {
    grid-area: header;
  }
</style>
