---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="flex gap-4 w-full items-center justify-between bg-[hsl(var(--muted))]"
>
  <a
    class="logo p-2 text-[hsl(var(--background))] bg-[hsl(var(--foreground))]"
    href="/"
  >
    <h1 class="text-xl font-logo">BK</h1>
  </a>
  <div class="flex pr-4">
    <Navigation />
    <ThemeIcon />
  </div>
</header>

<style>
  header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
  }
</style>
