---
export const prerender = false

const res = await fetch(`${Astro.url.origin}/api/posts/views`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({ slug: Astro.params.slug }),
})

let views = 0
if (res.ok) {
  ;({ views } = await res.json())
} else {
  console.error("Error:", await res.text())
}
---

<p class="text-sm text-[hsl(var(--muted-foreground))]">
  {views ? `${views} view${views === 1 ? "" : "s"}` : ""}
</p>
