---
const { ...props } = Astro.props;
---

<a {...props}>
  <slot />
</a>

<style>
  a {
    color: hsl(var(--links));
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    background-color: hsl(var(--muted));
    color: hsl(var(--links-hovered));
    transition: all 0.2s ease-in-out;
  }
</style>
