---
import type { CollectionEntry } from "astro:content"
import { format } from "date-fns"
import Prose from "./Prose.astro"

type Props = {
  micro: CollectionEntry<"micro">
}

const {
  micro: {
    slug,
    data: { title, date },
  },
  micro,
} = Astro.props

const { Content } = await micro.render()
---

<div
  class="card border border-[hsl(var(--muted-foreground))] p-4 flex flex-col gap-2 max-w-[80ch]"
>
  <div class="content border-b border-[hsl(var(--muted-foreground))]">
    <h1 transition:name={`title-${slug}`} class="text-xl mb-2">{title}</h1>
    <time
      transition:name={`date-${slug}`}
      class="text-sm text-[hsl(var(--muted-foreground))]"
      datetime={date.toISOString()}
    >
      {format(date, "MMMM dd, yyyy")}
    </time>
  </div>

  <Prose>
    <Content class="content" />
  </Prose>
</div>
