---
import NavLink from "./NavLink.astro";
---

<nav class="flex gap-2 pr-4">
  <NavLink href="/" title="Home" />
  <NavLink href="/about/" title="About" />
  <NavLink href="/thoughts/" title="Thoughts" />
  <NavLink href="/projects/" title="Projects" />
</nav>
