---
import NavLink from "./NavLink.astro";
---

<nav class="flex gap-2">
  <NavLink href="/" title="Home" />
  <NavLink href="/blog/" title="Blog" />
  <NavLink href="/about/" title="About" />
  <NavLink href="/tags/" title="Tags" />
</nav>
