---
import { navItems } from "../utils/config"
import NavLink from "./NavLink.astro"
---

<nav class="flex gap-2 md:gap-4 pr-4">
  {navItems.map((item) => <NavLink href={item.href} title={item.title} />)}
</nav>
