---
import type { CollectionEntry } from "astro:content"

type Props = {
  description: CollectionEntry<"posts">["data"]["description"]
  slug?: CollectionEntry<"posts">["slug"]
}

const { description, slug } = Astro.props
---

{
  description && (
    <p
      transition:name={slug ? `description-${slug}` : ""}
      class="mb-1 font-thin text-[hsl(var(--muted-foreground))]"
    >
      <em>{description}</em>
    </p>
  )
}
