<div
  class="prose max-w-none md:prose-lg lg:prose-xl prose-pre:max-w-[75ch] prose-pre:mx-auto prose-zinc prose-p:max-w-[80ch] prose-p:text-lg md:prose-p:text-xl prose-p:mb-4 prose-p:font-body prose-headings:font-headings prose-a:text-[hsl(var(--links))] prose-a:underline prose-a:underline-offset-4 prose-a:decoration-[hsl(var(--links))] hover:prose-a:text-[hsl(var(--links-hovered))] hover:prose-a:decoration-[hsl(var(--links-hovered))]"
>
  <slot />
</div>

<style>
  :global(.dark) .prose {
    @apply prose-invert;
  }
</style>
