---
type Props = {
  quote: string;
  reference?: string;
};

const { quote, reference } = Astro.props;
---

<div
  class="quote relative border-l-2 border-l-[hsl(var(--links-hovered))] py-2 px-8 ml-2 bg-[hsl(var(--muted))]"
>
  <p>
    {quote}
  </p>
  {
    reference && (
      <p class="text-right">
        <span>&mdash;</span>
        <span class="text-sm italic leading-none">{reference}</span>
      </p>
    )
  }
</div>

<style></style>
