---
import { getCollection } from "astro:content";
import BlogPost from "./ThoughtListItem.astro";

const allThoughts = await getCollection("thoughts");
---

<div class="my-8">
  <h2 class="text-2xl mb-4 mt-2">Recent Thoughts</h2>

  <ul>
    {
      allThoughts
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
        .slice(0, 3)
        .map((thought) => (
          <BlogPost
            url={`/thoughts/${thought.slug}/`}
            title={thought.data.title}
            date={thought.data.pubDate}
          />
        ))
    }
  </ul>
  <a
    class="mt-4 flex h-6 rounded-lg leading-7 text-gray-600 transition-all dark:text-gray-400 dark:hover:text-gray-200"
    href="/blog"
  >
    See all thoughts
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="ml-1 h-6 w-6"
      ><path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17.5 12h-15m11.667-4l3.333 4-3.333-4zm3.333 4l-3.333 4 3.333-4z"
      ></path>
    </svg>
  </a>
</div>
