---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import PostListItem from "./PostListItem.astro"

const allPosts = (await getCollection("posts")) as CollectionEntry<"posts">[]

interface Props {
  limit?: number
}

const { limit = 3 } = Astro.props
---

<div class="my-8">
  <h2 class="text-2xl mb-4 mt-2">Recent Posts</h2>

  <ul class="flex flex-col gap-8">
    {
      allPosts
        .filter((post) => post.data.published)
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
        .slice(0, limit)
        .map((post) => <PostListItem post={post} />)
    }
  </ul>
  <a
    class="mt-4 flex h-6 rounded-lg leading-7 text-[hsl(var(--muted-foreground))] hover:text-[hsl(var(--links))] transition-all"
    href="/posts/"
  >
    See all posts →
  </a>
</div>
