---
export const prerender = false

import type { CollectionEntry } from "astro:content"

type Props = {
  slug: CollectionEntry<"posts">["slug"]
}

const { slug } = Astro.props

const res = await fetch(`${Astro.url.origin}/api/posts/views?slug=${slug}`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
  },
})

let views = 0
if (res.ok) {
  ;({ views } = await res.json())
} else {
  console.error("Error:", await res.text())
}
---

<p class="text-sm text-[hsl(var(--muted-foreground))]">
  {views ? `${views} view${views === 1 ? "" : "s"}` : ""}
</p>
