---
// components/Views.astro
import { db, eq, Views } from "astro:db"
interface Props {
  slug: string
}

const { slug } = Astro.props
const found = await db
  .select({
    count: Views.count,
  })
  .from(Views)
  .where(eq(Views.slug, slug))
const count = found[0]?.count || 0
---

<p class="text-sm text-[hsl(var(--muted-foreground))]">
  Views: {count}
</p>
