---
export const prerender = false

import type { CollectionEntry } from "astro:content"
import { View, db, eq } from "astro:db"

type Props = {
  slug: CollectionEntry<"thoughts">["slug"]
}

const { slug } = Astro.props

const [data] = await db
  .select({ views: View.count })
  .from(View)
  .where(eq(View.slug, slug))
  .limit(1)

const views = data?.views ?? 0
---

<p class="text-sm text-[hsl(var(--muted-foreground))]">
  {views ? `${views} view${views === 1 ? "" : "s"}` : ""}
</p>
