---
type Props = {
  href: string;
  title: string;
};

const { href, title } = Astro.props;
---

{
  title === "Github" ? (
    <a rel="me" class="text-[hsl(var(--muted-foreground))]" href={href}>
      {title}
    </a>
  ) : (
    <a class="text-[hsl(var(--muted-foreground))]" href={href}>
      {title}
    </a>
  )
}
