---
import type { MarkdownHeading } from "astro"

type Heading = MarkdownHeading & {
  subheadings?: Heading[]
}

export interface Props {
  heading: Heading
}

const { heading } = Astro.props
---

<li>
  <a class="toc-link" href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings && heading.subheadings?.length > 0 && (
      <ul class="pl-3 space-y-0.5">
        {heading.subheadings?.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
