---
import { cn } from "../utils/cn";

type Props = {
  tag: string;
  selected?: boolean;
};

const { tag, selected } = Astro.props;
---

<a
  class={cn(
    "text-sm text-[hsl(var(--muted-foreground))] hover:text-[hsl(var(--muted-foreground))] whitespace-nowrap",
    selected ? "font-bold text-[hsl(var(--links-hovered))]" : ""
  )}
  href={`/thoughts/tags/${tag}`}
>
  #{tag}
</a>

<style>
  a {
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid hsl(var(--links-hovered));
  }

  a:hover {
    background-color: hsl(var(--muted));
    color: hsl(var(--links-hovered));
    transition: all 0.2s ease-in-out;
  }
</style>
