---
import { format } from "date-fns";
import Link from "./Link.astro";
const { title, url, date } = Astro.props;
---

<li>
  <Link href={url}>
    {title}
    <time
      class="ml-2 text-sm whitespace-nowrap text-[hsl(var(--muted-foreground))]"
      >{format(date, "MMMM dd, yyyy")}
    </time>
  </Link>
</li>
