---
import { format } from "date-fns";
const { title, url, date } = Astro.props;
---

<li>
  <a href={url}
    >{title}
    <span class="text-sm whitespace-nowrap text-[hsl(var(--muted-foreground))]"
      >{format(date, "MMMM dd, yyyy")}</span
    ></a
  >
</li>
